
div(style="border: 1px solid; padding: 10px; margin: 10px; width: 250px;") Please, type your account credentials
	div
		label Username:
		input(ng-model="name")
	div
		label Password:
		input(type="password", ng-model="password")
	div(style="color: #f00") {{error}}
	div
		input(type="button", value="Login", ng-click="authenticate(name, password)")
